{% extends "AcmeChatBundle::layout.html.twig" %}

{% block content %}

  <div class="row">
      <div class="col-lg-12">
          <h1>About</h1>
          <p>This is a project using ClankBundle to create a chat working with websockets</p>
      </div>
  </div>

{% endblock %}
