{% extends "AcmeChatBundle::layout.html.twig" %}

{% block content %}

  <div class="panel panel-default" id="panelChat">
    <div class="panel-heading">Your are not connected to any channel</div>
    <div class="panel-body">
    </div>
  </div>

  <div class="form-group">
    <div class="input-group">
      <span class="input-group-addon" id="nickname">Anonymous</span>
      <input type="text" class="form-control" autofocus id="chat-input">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button" id="send-chat">Send</button>
      </span>
    </div>
  </div>

{% endblock %}
