body {
    margin-top: 70px;
}

#panelChat{
  height:30em;
  max-height:30em;
}

#panelChat .me{
  text-align:right;
}

#panelChat .alert{
    padding:8px;
    margin-bottom:5px;
}

.panel{
  margin-bottom:10px;
}
